<% @stories.each do |story| %>
  <div>  
    <%= story.id %>
    <%= story.content %>
    <%= link_to 'Read Story', story %>
  </div>

<% end %>

<%= link_to 'Back to organisation', organisation_path(@organisation) %>