.btn {
  font-size: 17px;
  background: #3d5a99;
  padding: 10px 35px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  color: white !important;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background: darken(#3d5a99, 10%);
    color: white;
  }
}