.listing
  margin: 0px auto 50px

.story
  background: #fff
  margin: 5px 1%
  width: 31.4%
  min-height: 270px
  margin: 5px
  float: left
  box-shadow: 0px 1px 1px #eee
  position: relative
  > * 
    margin: 0
    padding: 0
  .layer
    padding: 10px
  h2
    font-size: 20px
    line-height: 25px
    margin-bottom: 10px
    margin-top: 0
  a
    text-decoration: none
    font-weight: bold
    color: #3b7fcc
    &:hover
      background: none
      color: #97B5C0
  .meta
    border-top: 1px solid #CEDEE4
    padding-top: 10px
    font-size: 10px
    line-height: 15px
    width: 92%
    position: absolute
    bottom: 10px
    &:after
      content: ""
      display: block
      clear: both
  .name 
    position: absolute
    left: 10px
    top: 60px
    text-transform: none
    letter-spacing: 0
    font-size: 12px
    font-weight: normal
  img
    width: 20px
    height: 20px
    border-radius: 3px
    margin-right: 5px
    float: left
  .content
    margin-bottom: 10px
    padding-bottom: 40px
  .profile
    font-weight: bold
  .date
    color: #c4c9d1

.story-page
  .grid
    background: #fff
    padding-bottom: 10px
  .organisation
    border-bottom: 1px solid #E4F6FA
    strong
      color: #87969E
    h1
      margin-top: 10px
  h2
    margin: 0 0 10px
  .story-detail
    margin-top: 0
    padding-top: 0
    .whole
      margin-top: 0
      padding-top: 0
    .content
      font-family: 'Nixie One', cursive
      font-size: 18px
      line-height: 24px
      margin-bottom: 20px
    strong
      color: #1D3144
  .author, .content
    margin-bottom: 10px
  .author
    img
      width: 20px
      height: 20px
      border-radius: 3px
      margin-right: 5px
      float: left
  .meta
    font-size: 10px
    line-height: 15px
    &:after
      content: ""
      display: block
      clear: both
  .unit
    padding-top: 20px

.images
  img
    width: 100%

.wrap
  &.title
    background: #3b3b3b
    background: #B8C2C4
    color: #fff
    margin: 0
    padding: 0
    strong, a
      color: #3b7fcc
    .author
      font-size: 16px
      padding: 30px
      text-align: center
  .summary
    font-family: 'Nixie One', cursive
    font-size: 25px
    line-height: 35px
    margin-bottom: 0px
    color: #3f95c6
  .date
    font-size: 13px
    opacity: .7
    text-align: right
    margin-bottom: 20px

.grid.organisation .unit:first-child
  padding-left: 0

.story-content
  img
    max-width: 100%