.listing
  margin: 0px auto 50px

.story
  background: #fff
  margin: 5px 1%
  width: 32.4%
  min-height: 390px
  margin: 5px
  float: left
  box-shadow: 0px 1px 1px #eee
  position: relative
  &.wide
    width: 65%
    min-height: 190px
  > * 
    margin: 0
    padding: 0
  .layer
    padding: 10px
  h2
    font-size: 20px
    line-height: 25px
    margin-bottom: 10px
    margin-top: 0
  a
    text-decoration: none
    font-weight: bold
    color: #175969
    &:hover
      background: none
      color: #97B5C0
  .meta
    border-top: 1px solid #CEDEE4
    padding-top: 10px
    font-size: 10px
    line-height: 15px
    width: 92%
    position: absolute
    bottom: 10px
    &:after
      content: ""
      display: block
      clear: both
  .name 
    position: absolute
    left: 10px
    top: 60px
    text-transform: none
    letter-spacing: 0
    font-size: 12px
    font-weight: normal
  img
    width: 30px
    height: 30px
    border-radius: 3px
    margin-right: 5px
    float: left
  .content
    margin-bottom: 10px

.story-page
  .grid
    background: #fff
    padding: 20px